@import 'libs/bootstrap-reboot.min';
@import 'libs/font';
@import 'libs/slick';

*{font-family: 'Gilroy', sans-serif;}

body {
    position: relative;
    overflow-x: hidden;
}
#preload { background: url(../img/background.jpg) no-repeat -9999px -9999px; }
#preload-1 { background: url(../img/silver.jpg) no-repeat -9999px -9999px; }
#preload-2 { background: url(../img/orange.jpg) no-repeat -9999px -9999px; }
#preload-3 { background: url(../img/white.jpg) no-repeat -9999px -9999px; }

.container {
    position: relative;
    max-width: 1140px;
    margin: 0 auto;
}


@import 'blocks/header';
@import 'blocks/promo';
@import 'blocks/button';
@import 'blocks/advantages';
@import 'blocks/title';
@import 'blocks/check';
@import 'blocks/work';
@import 'blocks/about';
@import 'blocks/rate';
@import 'blocks/key';
@import 'blocks/guarantee';
@import 'blocks/comments';
@import 'blocks/form';
@import 'blocks/contact';
@import 'blocks/footer';
@import 'blocks/modal';
@import 'blocks/pageup';
@import 'blocks/media';
@import 'blocks/policy';

