.promo {
    image-rendering: crisp-edges;
    position: relative;
    min-height: 840px;
    padding-top: 129px;
    width: 100%;
    background: url('../../img/background.jpg') center (center/cover) no-repeat;
    overflow: hidden;
    &__img {
        display: none;
        position: absolute;
        bottom: 0;
        right: 0;
    }

    h1 {
        font-size: 55px;
        font-weight: 700;
        color: #ffffff;
        line-height: 65px;
    }
    &__subtitle {
        font-size: 16px;
        font-weight: 400;
        color: #ffffff;
        margin-bottom: 80px;
        margin-top: 15px;
    }
    &__br {
        display: none;
    }

}
.promo__hover-silver {
    position: absolute;
    right: calc(50% + -36px);
    top: 481px;
    width: 300px;
    height: 220px;
    border-radius: 22% 0 0 39%;
    transform: skew(-6deg, -8deg);
    z-index: 1;
    &:hover ~ .promo {
        background: url('../../img/silver.jpg') center (center/cover) no-repeat;
    }
}
.promo__hover-orange {
    position: absolute;
    left: calc(50% + 65px);
    top: 540px;
    width: 304px;
    height: 220px;
    border-radius: 54% 0 0 0;
    z-index: 1;
    &:hover ~ .promo {
        background: url('../../img/orange.jpg') center (center/cover) no-repeat;
    }
}
.promo__hover-white {
    position: absolute;
    left: calc(50% + 400px);
    top: 603px;
    width: 16%;
    height: 241px;
    border-radius: 44% 0 0 60%;
    transform: skew(-3deg,-9deg);
    z-index: 1;
    &:hover ~ .promo {
        background: url('../../img/white.jpg') center (center/cover) no-repeat;
    }
}



